/* #111317 */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
  background-color: #111317;
}

nav{
  height: 80px;
  padding: 0 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #111317;
  position: sticky;
  top: 0;
  box-shadow: 1px 10px 50px white;
  z-index: 2;
}

.logo{
  height: 100%;
}

#language-change{
  color: white;
  font-size: 24px;
  border: 1px solid white;
  padding: 10px 20px;
  border-radius: 50px;
  transition: all 0.5s;
  cursor: pointer;
}

#language-change:hover{
  background-color: white;
  color: #111317;
}

main{
  padding: 100px 100px 0 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.main-img{
  border-radius: 50%;
  user-select: none;
  pointer-events: none;
}

h1{
  color: white;
  margin-top: 20px;
}

h3{
  color: white;
  text-align: center;
  margin-top: 15px;
}

.links{
  background-color: white;
  padding: 20px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  margin: 20px 0 0;
}

.links p{
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}

#whatsapp, #telegram{
  width: 100%;
  display: flex;
  text-decoration: none;
  color: white;
  font-size: 24px;
  background-color: #54cc6c;
  padding: 20px;
  border-radius: 8px;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
  text-transform: uppercase;
}

#telegram{
  background-color: #62a8de;
}

.contact-us{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 50px 100px;
  background-color: white;
}

h2{
  font-size: 30px;
  margin-bottom: 20px;
}

.contact-links-container{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
}

.contact-link{
  border: 2px solid #111317;
  padding: 10px 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  font-size: 16px;
}

.contact-link-icon{
  margin-right: 20px;
  font-size: 30px;
}

#contact-link-title{
  font-size: 20px;
  font-weight: 600;
}

.location{
  width: 100%;
  margin-top: 20px;
  min-height: 300px;
}

.nonAparatImg{
  display: none;
  visibility: hidden;
}

.powered{
  background-color: #191919;
  color: rgb(198, 198, 198);
  text-align: center;
  padding: 10px;
  user-select: none;
}

.powered a{
  color: rgb(198, 198, 198);
  text-decoration: none;
  font-weight: 600;
}

video{
  width: 100%;
  margin: 20px;
}

@media only screen and (max-width: 768px) {
  nav{
    padding: 10px;
  }

  #language-change{
    font-size: 18px;
  }

  main{
    padding: 20px 10px;
  }

  .nonAparatImg{
    display: block;
    visibility: visible;
    width: 100%;
    user-select: none;
    pointer-events: none;
  }

  .main-img{
    visibility: hidden;
    display: none;
  }

  #creator-name{
    font-size: 28px;
  }

  #title-1{
    font-size: 20px;
    font-weight: 500;
    margin-top: 0;
  }

  .links{
    padding: 20px 10px;
    border-radius: 10px;
  }

  #title-2{
    font-size: 18px;
  }

  #whatsapp, #telegram{
    font-size: 14px;
    padding: 10px 20px;
  }

  .contact-us{
    padding: 20px;
  }

  .contact-links-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .contact-link{
    width: 100%;
    overflow: hidden;
    height: 80px;
    padding: 10px 20px;
  }
}